<!DOCTYPE html> 
<!--damn it is good but can it also show the earnings and the amount left at the end of the day or month-->
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
        <title>About the creater</title>
    </head>
    <body>
        <div class="container">
            <h2>About SupremeGod</h2>
            <p>SupremeGod is a completely normal person with the passion for coding. He was unable to 
                partake in it due to his old school providing absolutely no opportunities during his period of study. 
                Thus he learns web development by himself using the endless resources from the internet. What is to be taken away is the fact that 
                sometimes your environment may hold you back, but wou will have to break free. 
                <br><br>P.S. He loves playing video games and is the biggest study hater of all time.
            </p>
            <a href="/" class="link">Go Back</a>
        </div>
    </body>
</html>