<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>
            Expenses Tracker
        </title>
    </head>
    <body>
        <div class="container">
            <h2><br>Input new expense</h2>
        <!--Form for all 4 aspects (one of them has a drop-down menu)-->
        <form action="/add-expense" method="POST" class="add-form">
            <input type="text" name="name" placeholder="Spent on: " id="input">
            <input type="number" step="0.01" name="amount" placeholder="Amount...">
            <select name="category">
                <option value="">𝑪𝒉𝒐𝒐𝒔𝒆 𝑷𝒂𝒚𝒎𝒆𝒏𝒕 𝒎𝒆𝒕𝒉𝒐𝒅</option>
                <option value="Cash">Cash</option>
                <option value="Credit Card">Credit Card</option>
                <option value="Debit Card">Debit Card</option>
                <option value="Crypto">Crypto</option>
            </select>
            <input type="date" name="date">
            <button type="submit">Add Expense</button>
        </form>

        <h2><br>List of all expenses</h2>
        <table>
            <tr>                <!--Table row-->
                <th>Item Bought</th>     <!--Table header cell-->
                <th>Amount spent</th>
                <th>Mode of payment</th>
                <th>Purchase date</th>
                <th>---------------------</th>
            </tr>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense[1] }}</td>       <!--Table data cell-->
                <td>${{ expense[2] }}</td>  
                <td>{{ expense[3] }}</td>  
                <td>{{ expense[4] }}</td>  
                <td>
                    <form action="/delete-expense/{{ expense[0] }}" method="POST"
                class="delete-form">
                    <button type="submit" data-id="{{ expense[0] }}">
                        Delete
                    </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
            <div class="box">
                Total spent: ${{ total }}
            </div>
            <p id="char-count"></p>
            <a href="/crypto" class="link">View Crypto Prices</a>
            <a href="/about" class="link">About the author</a>
        </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>